@model MissionaryWeb.Models.Missions

<h1>Select Mission</h1>
<br />
<div class="container">

    <select>
        <option value="saab">France Paris Mission</option>
        <option value="opel">Brazil São Paulo West Mission</option>
        <option value="audi">Florida Tampa Mission</option>
    </select>

    <br />

    <ul class="dropdown-menu">
        @foreach (var item in @ViewBag.ListMissions)
        {
            <li><a href="/Missions/Missions/@item.missionID">@item.missionName<br /> Mission</a></li>
        }

    </ul>



</div>